@charset "UTF-8";

body {
	color: black;
	background-image: url("electrictower1.jpg");
	background-size: 100rem 850px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
}
.desk{
	display: none;
}
@media(max-width:1000px){
	body{
		background-size: auto;
	}
	.full{
		display: none;
	}
	.desk{
		display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(228, 231, 248);
	}
	.fholder{
		visibility: hidden;
	}
}

/*******front******/
.fholder
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(to right top,#7FB5FF,#001D6E);
	background-size: 100rem 850px;
	background-repeat: no-repeat;	 
    animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 4s both;
    
}

.fcontent
{
    width: 300px;
    height: 100px;
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius: 50px;
    
}

.fcontent .ele
{
    width: 100%;
    height: 100%; 
    margin-top: 20px;   
    display: flex;
    align-content: center;
    justify-content: center;
}
.ele h3
{
	color:black;
	
}

.fcontent .ele img
{
width: 50%;
}

.fcontent .ele:nth-child(1)
{
    margin-top: 0;
    animation: anim 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1s  both;
    
}
.fcontent .ele:nth-child(2)
{
    
    animation: anim 1.5s cubic-bezier(0.19, 1, 0.22, 1) 2.5s   both;
}
.fcontent .ele:nth-child(3)
{
    
     margin-top:0;
}




@keyframes anim
{
    to
    {
        margin-top: -100px;
    }
}

@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}

/***** front com ******/

hr
{
	border:1px solid;
	
	border-color:black;
	border-bottom: none;
}

h1, h2 {
	color: #f7f5f2;
	font-family: 'Ubuntu', sans-serif;
}
.home p
{
	font-weight:2rem;
}

.head {
	font-weight: 700;
	font-size: 3rem;
	top: 30px;
	margin:0 auto;
}
.head i
{
	color: #FF9F45;
}

.r-log
{
	position: absolute;
	padding:25px 30px;
	width:30px;
	top:35px;
	left:30px;
	
}

.clogo {
	object-fit: cover;
	object-position: 3px;
	position: absolute;
	width: 50px;
	height: 37px;
	top:3px;
	left:35%;
	
}
.clogo:hover
{
	width:250px;
	height:45px;
	object-position: 0;
	
}
.font1, .head {
	position: absolute;
}

.font1 {
	
	font-size: 2.2rem;
	color: #FF9F45;
	left:10%;
	bottom:10px;
}

.log {
	position: absolute;
	top: 50px;
	right: 30px;
	display: flex;
}
.space {
  width: 6px;
  height: auto;
}
.calc {
	
	border:none;
	font-family: 'Ubuntu', sans-serif;
	color: #00092C;
	text-decoration:none;
	padding:10px;
	border-radius: 5px;
	font-size: 14px;
}

.calc:hover
{
	background-color: #FF9F45;
	color:white;
	
}
.log .calc:hover , .wel-main .calc:hover
{
	box-shadow: 2px 2px 5px grey;
}


main {
	height: 100%;
	background: linear-gradient(to right top,rgb(242, 242, 242,0.5),
		 rgb(127, 181, 255,0.5));
	border-radius: 2rem;
	padding: 3%;
	backdrop-filter: blur(8px);
	display: flex;
	margin-top: 200px;
	margin-left: 40px;
}
main:hover
{
	padding:3.5%;
	background: linear-gradient(to right top,rgb(242, 242, 242,1),
		 rgb(127, 181, 255,1));
}

.home p {
	width: 550px;
	line-height: 2;
	font-size: 1.1rem;
}
.home h2
{
	color:#0E185F;
}

.home i
{
	color:black;
}

.footer
{
	position:absolute;
	bottom:5%;
	color:white;
}
.footer span
{
	font-size:1.5rem;
	color:#000;
}
.social
{
	margin-left:40px;
	background:none;
	font-size:1.5rem;
	color:white;
}
.social:hover
{
	background-color:#fff;
	padding:10px;
	color:#4D96FF;
	border-radius: 10px;
}



/* ******** log.jsp *********** */


.log-main,.signup-main
{
	margin-left:0;
}

.login h2
{
	Color:#000B49;
	font-family: 'Merriweather Sans', sans-serif;
}
.login h4
{
	color:#1C0A00;
	margin-top: 5px;
}
.smiley
{
	color:#fff;
}
.login,.register{
	border-radius: 2rem;
	padding: 0 20px 25px;
	background:none;
	margin-top: 1%;
	color: black;
	font-size: 1.3rem;
}
.login table
{
	line-height: 3;
}


.field
{
	border:none;
	font-family: 'Ubuntu', sans-serif;
	color: #1C0A00;
	text-decoration:none;
	padding:8px;
	border-radius: 10px;
	font-size: 14px;
}

.login .up
{
	color:#03045E;
}
.login .calc, .register .calc, .gen-main .calc
{
	padding:0;
	background: none;
	font-size:2.5rem;
	color: #1C0A00;
	position: absolute;
	
}
.login .calc:hover ,.register .calc :hover , .gen-main .calc :hover {
	color:#041562;
	font-size:3rem;
	box-shadow:none;	
}
.c2
{
	left:27%;
}
.reg
{
	display:flex;
	position:absolute;
	bottom:13%;
	
}
.reg a
{
	text-decoration: none;
	color:#5D8BF4;
}
.reg a:hover
{
	color:#f7f2f5;
}

.remember
{
	color:#f2f2f2;
}

/* ********* signup.jsp **************** */

.register table
{
	line-height: 1.8;
}

.signup-reg
{
	bottom:20px;
}

/* ******welcome.jsp***** */

.wel-main
{
	align-items: center;
	justify-content: center;
	margin:20% auto auto;
}
.wel h1
{
	color:#000000;
}
.option
{
	display:flex;
}
.option .calc
{
	font-size:1rem;
	padding:20px;
}

/* ******generate.jsp****** */

.gen-main
{
	
	align-items: center;
	justify-content: center;
	padding:20px;
	font-size: 1.5rem;
}

/****** calculate.jsp******/

.calculate-main
{
	padding-bottom: 15px;
}
.calculate-main:hover
{
	padding-bottom: 20px;
	
}

/* ******output.jsp****** */

.output-main
{
	margin-top:110px;
	padding-bottom:20px;
}

.output-main:hover
{
	padding-bottom:20px;
}
.sp
{
	width:220px;
	height:30px;
	background-color: white;
	border-radius: 10px;
	display:flex;
	align-items:center;
	justify-content: center;
}

.period
{
	display:flex;
}

.pay h5
{
	padding:0;
	margin:0;
	margin-top:10px;
	margin-left:50px;
	
}
.pay
{
	display:flex;
}
.hide
{
	visibility: hidden;
	color:#0E185F;
}
.pay :hover + .hide
{
	visibility: visible;
}



/******sidebar******/







